/* CSS RESET */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

/* Styling the body */

body{
    background-image: url('images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
}

/* Styling the main */

main{
    width: 70%;
    margin: 150px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

/* Styling the left container */

.left{
    display: grid;
    width: 50%;
    height: 50%;
    text-align: left
}

/* Styling the right container */

.right{
    display: grid;
    width: 50%;
    height: 50%;
}

/* Styling the header */

h1{
    color: white;
    padding-right: 50px;
    font-weight: 700;
}

/* Styling the paragraphs */

main h4{
    color: white;
    padding-right: 20px;
    padding-top: 20px;
}

main h6{
    background-color: hsl(248, 32%, 49%) ;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Stylying the form */

.form{
    border: 2px;
    background-color: white;
    border-radius: 10px;
    padding: 20px
}

/* First name */

#fname{
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
    margin: 20px 5px 5px 5px;
    width: 90%;
    padding: 5px;
    color: rgb(21, 20, 20);
    background-color: rgb(243, 242, 246);
    border: thin solid hsl(0, 100%, 74%);
}

/* Last name */

#lname{
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
    margin: 5px;
    width: 90%;
    padding: 5px;
    color: rgb(21, 20, 20);
    background-color: rgb(243, 242, 246);
    border: thin solid hsl(0, 100%, 74%);
}

/* Email */

#email{
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
    margin: 5px;
    width: 90%;
    padding: 5px;
    color: rgb(21, 20, 20);
    background-color: rgb(243, 242, 246);
    border: thin solid hsl(0, 100%, 74%);
}

/* Password */

#password{
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
    margin: 5px;
    width: 90%;
    padding: 5px;
    color: rgb(21, 20, 20);
    background-color: rgb(243, 242, 246);
    border: thin solid hsl(0, 100%, 74%);
}

/* Stylying the register button */

button{
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px solid hsl(249, 10%, 26%);
    margin: 5px;
    width: 90%;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
}

button:hover{
    background-color: hsl(154, 59%, 51%);
}

.click{
    margin-bottom: 20px;
    font-size: 16px;
}

.terms a{
    color: red;
    text-decoration: none;
}

/* Media query desktop */

@media screen and (max-width:1440px) {
    body{
        background-image: url('images/bg-intro-desktop.png');
    }
    main{
        flex-direction: row;
        width: 50%
    }
    .right, .left{
        width: 50%;
    }
}

/* Media query mobile */

@media screen and (max-width:375px) {
    body{
        background-image: url('images/bg-intro-mobile.png');
    }
    main{
        flex-direction: column;
        height: 100%;
    }
    .right, .left{
        height: 50%;
    }
}

